.slides-container__item {
  &:first-child {
    z-index: 3;
  }
  &:nth-child(2) {
    z-index: 2;
  }
  &:last-child {
    z-index: 1;
  }
  
  height: 100vh;
  width: 100%;
  position: fixed;
  transition: 1.2s;
  overflow: hidden;
}

.slides-container__item:not(:first-child) {
  .slides-container__content-wrapper {
    transform: translateY(@content-offset);
    transition: 1.4s;
  }
}

.slides-container__item.up-scroll {
  transform: translateY(0);
  &:first-child {
    .slides-container__content-wrapper {
      transform: translateY(0);
    }
  }
}

.slides-container__item.down-scroll {
  transform: translateY(-100vh);
  .slides-container__content-wrapper {
    transform: translateY(-@content-offset);
  }
  + .slides-container__item:not(.down-scroll) {
    .slides-container__content-wrapper {
      transform: translateY(0);
    }
  }
  &:first-child {
    .slides-container__content-wrapper {
      transform: translateY(0);
    }
  }
}
