.therapy-basic {
  background-image: url("../img/background-2.jpg");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #001ed4;
}

.therapy-basic__wrapper {
  .wrapper();
  padding-top: 205px;
  background-image: url("../img/2-slide-content-back.png");
  background-size: 1011px;
  background-position: 80px 30px;
  background-repeat: no-repeat;
}

.therapy-basic__header {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 200;
  font-size: 49px;
  line-height: 58px;
  text-align: center;
  padding: 0 190px;
}