.therapy-aims {
  color: #0d319c;

  background-image: url("../img/background-1.jpg");
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #68c1fe;
}

.therapy-aims__wrapper {
  .wrapper();
  padding-top: 94px;
}

.therapy-aims__header {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  width: 750px;
  font-size: 49px;
  line-height: 58px;
  margin-left: 70px;
}

.therapy-aims__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 21px;
}

.therapy-aims__item {
  &--top {
    top: 275px;
    right: 262px;
  }
  &--middle-left {
    top: 395px;
    left: 220px;
  }
  &--bottom-left {
    top: 506px;
    left: 350px;
  }
  &--bottom-right {
    top: 486px;
    right: 144px;
  }

  position: absolute;
}

.therapy-aims__pointer {
  &--top {
    width: 52px;
    height: 52px;
    top: -12px;
    left: -51px;
  }
  &--middle-left {
    width: 29px;
    height: 29px;
    top: 31px;
    left: 53px;
  }
  &--bottom-left {
    top: 33px;
    left: 130px;
  }
  &--bottom-right {
    top: 31px;
    left: 33px;
  }
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #cf1437;
}

.therapy-aims__pointer-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(247, 139, 31, 0.22);
  border: 1px solid #cf1437;
  position: absolute;
  top: 0;
  left: 0;

  animation-name: bigger;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.therapy-aims__pointer-inner--middle {
  animation-delay: 0.5s;
}
.therapy-aims__pointer-inner--last {
  animation-delay: 1s;
}

@keyframes bigger {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
